.InnerRing .Feeling {
  width: 10vh;
  height: 3vh;
  z-index: 2;
  top: 15vh;
  left: 15vh;
  mix-blend-mode: multiply;
  
}

.MiddleRing .Feeling {
  width: 22vh;
  z-index: 1;
  top: 27.5vh;
  left: 27.5vh;
  box-shadow: 2px 2px black;
}

.OuterRing .Feeling {
    width: 35vh;
    z-index: 0;
    top: 27.5vh;
    left: 27.5vh; 
    box-shadow: 3px 3px rgb(136, 136, 136);
}

.Feeling {
  align-items: center;
  padding: 2px 15px 2px 0px;
  position: absolute;
  transform-origin: top left;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 40px 25px 25px 40px;
}

.Feeling:hover:not(:active) {
  font-size: 2.25vh;
  z-index: 15;
  transform: scale(1.15);
}
